{% extends "APPHome/base.html" %}

{% load static %}

{% block title %} Sobre Nosotros {% endblock %}

{% block content %}

    <div class="my-container">
        <section class="rows title-nosotros" style="margin-bottom: 30px;">
            <div class="my-col-xl-12 my-col-lg-12 my-col-md-12 my-col-sm-12 my-col-12">
                <div class="rows-1">
                    <h2>Sobre Nosotros</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, facere ea? Suscipit iusto rem corrupti distinctio eum maxime facilis error hic placeat totam omnis, similique qui dolor sit, dolorem, expedita reiciendis iste. Expedita, nesciunt. Ullam porro perspiciatis enim odio voluptates sint, cumque dicta mollitia soluta est optio repellat quasi distinctio eveniet odit corporis aut voluptatum quae aliquam suscipit, officiis assumenda deserunt harum. Exercitationem possimus dolorem, animi debitis asperiores ipsa reiciendis temporibus veniam reprehenderit ut vitae excepturi? Molestiae fuga magni recusandae.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex cumque magni dolore dicta similique fugit inventore non esse odit fuga doloribus voluptatibus repellendus sed, ipsam iste delectus numquam. Sunt.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa illo aliquid sunt ducimus ipsam fugiat, optio deleniti unde necessitatibus? Debitis dolores repellat sed deleniti aspernatur amet voluptatum cupiditate impedit ratione aut ut velit eaque dignissimos itaque nulla praesentium molestiae ea esse odio nostrum, officiis cum eius maxime eos. Ratione odit et libero tempora nihil ullam rerum! Quae, distinctio ea?</p>
                </div>
            </div>
        </section>

        <section class="rows title-nosotros">
            <div class="my-col-xl-12 my-col-lg-12 my-col-md-12 my-col-sm-12 my-col-12">
                <div class="rows-1">
                    <h2>Nuestro Nombre</h2>

                    <div class="my-col-xl-8 my-col-lg-8 my-col-md-8 my-col-sm-12 my-col-12 image">
                        <img src="{% static 'APPHome/img/nuestro-nombre-imagen.png' %}" alt="Nuestro nombre">
                    </div>
                    <div class="my-col-xl-4 my-col-lg-4 my-col-md-4 my-col-sm-12 my-col-12">
                        <section class="box">
                            <h3>Nostros traemos</h3>
                            <ul>
                                <li>Soluciones reconocidas por su inmejorable calidad y fiabilidad</li>
                                <li>Una amplia gama de productos de una sola fuente</li>
                                <li>Apoyo local y fortaleza global</li>
                            </ul>
                            <div class="foot-box">
                                <h4>Siempre conectados</h4>
                                <p>Nuestro equipo siempre está innovando y siempre enfocado en su éxito.</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <section class="rows title-nosotros">
            <div class="my-col-xl-12 my-col-lg-12 my-col-md-12 my-col-sm-12 my-col-12">
                <div class="rows-1">
                    <h2>Nuestros Valores</h2>

                    <div class="my-col-xl-12 my-col-lg-12 my-col-md-12 my-col-sm-12 my-col-12" style="background-color: rgb(27, 27, 27); margin: 15px 0;">
                        <div class="my-col-xl-4 my-col-lg-4 my-col-md-4 my-col-sm-6 my-col-12">
                            <div class="border-circle"><i class="far fa-star"></i></div>
                            
                            <p>Audaz en acción</p>
                        </div>
                        <div class="my-col-xl-4 my-col-lg-4 my-col-md-4 my-col-sm-6 my-col-12">
                            <div class="border-circle"><i class="far fa-check-circle"></i></div>
                            
                            <p>Impulsado por resultados</p>
                        </div>
                        <div class="my-col-xl-4 my-col-lg-4 my-col-md-4 my-col-sm-12 my-col-12">
                            <div class="border-circle"><i class="far fa-thumbs-up"></i></div>
                            
                            <p>Haciendo bien</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>    

{% endblock %}

